body {
    font-family: Arial;
    text-align: center;
    background-color: #1e1e2f;
    color: white;
    padding: 50px;
}

button {
    padding: 10px 20px;
    background-color: #00c896;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
